@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  padding-top: 2rem;
  background-color: rgb(28, 28, 28);
  color: white;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}

input,
textarea {
  font-size: 16px;
}

// general styling
.heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  &.center {
    text-align: center;
  }
}

// layout
.page {
  min-height: 60vh;
}
.container {
  width: 1200px;
  max-width: 96%;
  margin: 0 auto;
}

.form-wrapper {
  padding: 2rem;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  form {
    width: 100%;
  }
  .input-group {
    margin-bottom: 1rem;
    label {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    input {
      display: block;
      width: 100%;
      padding: 0.8rem 0rem;
      text-indent: 20px;
    }
  }

  button {
    background-color: green;
    display: block;
    width: 100%;
    padding: 1rem 0rem;
    margin-top: 2rem;
    color: white;
    font-weight: 800;
  }
}

// media queries
@media (min-width: 800px) {
  .heading {
    font-size: 2rem;
  }
}
