#success {
  text-align: center;
  p {
    margin-bottom: 2rem;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 0.8rem 2rem;
  }
}
