#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .logo {
    font-weight: 800;
    font-size: 1.4rem;
  }
  a {
    color: white;
  }
  nav a {
    display: inline-block;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    &.cta {
      color: white;
      padding: 0.8rem 2rem;
      background-color: green;
    }
  }
}
